@{
    ViewData["Title"] = "Services";
}

    <section class="d-flex align-items-center">
      <div class="container justify-content-center d-flex">
        <div class="row justify-content-center flex-wrap m-4">
          <h1 class="fs-2">¿Necesitas un servicio eléctrico?</h1>
          <p class="fs-4">No dudes en dedicarnos un mensaje, será un placer atenderte</p>
          <div class="">
            <button class="btn btn-success">Contactanos</button>
          </div>

        </div>
      </div>
    </section>

    <!-- Sticky section with horizontal scrolling -->
    <div class="sticky_parent"  style="background-color: blue;">
      <div class="sticky">
        <div class="scroll_section">
          <main class="slider">
            <div class="slider-inner">
              <btn class="item btn">
                <h6 class="">Hola</h6>
                <div class="img"></div>
              </btn>
              <btn class="item btn">
                <h6 class="">Hola</h6>
                <div class="img"></div>
              </btn>
              <btn class="item btn">
                <h6 class="">Hola</h6>
                <div class="img"></div>
              </btn>
              <btn class="item btn">
                <h6 class="">Hola</h6>
                <div class="img"></div>
              </btn>
            </div>
          </main>
        </div>
      </div>
    </div>

    <section style="background-color: red;">
      <div class="container">
        <h1>About</h1>
        <p>Scroll SIJLDJkjoieslijfoiofjsoifeoiflkdslf</p>
      </div>
    </section>
    

    <!-- Slider section with animated images -->


    <section style="background-color: orange;">
      <div class="container">
        <h1>End</h1>
        <p>Scroll SIJLDJkjoieslijfoiofjsoifeoiflkdslf</p>
      </div>
    </section>
