
  html, body, main {
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
  }

  h1 {
    font-size: 4rem;
  }

  p {
    width: 50%;
    margin: 2rem;
  }

  section {
    height: 100vh;
  }

  .sticky_parent {
    height: 500vh;  
  }

  .sticky {
    overflow: hidden;
    position: sticky;
    top: 100px;
    height: 100vh;
  }

  .scroll_section {
    position: absolute;
    height: 100%;
    top: 0;
    width: 500vw;
    will-change: transform;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
  }

  img {
    width: 400px;
    height: 80%;
    object-fit: cover;
    object-position: center;
  }

  /* Slider styles */
  .slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 2800px;
    height: 100%;
  }

  .slider-inner {
    position: absolute;
    top: 5%;
    left: 20%;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .item {
    position: relative;
    width: 400px;
    height: 100%;
    overflow: hidden;
  }

  .img {
    position: absolute;
    left: -100px;
    width: 600px;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
  }

  .btn h6 {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.btn:hover h6 {
  opacity: 1; 
}

